doctype html
html(class="no-js")
  head
    link(rel="stylesheet" href="/stylesheets/main.css")
    link(rel="stylesheet" href="/stylesheets/html5reset.css" media="all")
    link(rel="stylesheet" href="/stylesheets/responsivegridsystem.css" media="all")
    link(rel="stylesheet" href="/javascripts/bower_components/tablesorter/style.css")
    script(src="/javascripts/bower_components/modernizr/modernizr.js")  
  body
    block content
    script(src="/javascripts/bower_components/jquery/dist/jquery.js")  
    script(src="/javascripts/bower_components/tablesorter/jquery.tablesorter.min.js")  
    script(src="/javascripts/main.js")  
    script(src="/javascripts/responsivegridsystem.js")  